<head>
    <h1>Brew Tour</h1>
</head>

<body>
    <div class="center">
        Welcome to Brew Tour. This is your oh-so, very special place to keep 
        track of your favorite beers & breweries. Here at Brew Tour, we 
        figured craft-beer-connoisseurs, just like yourself, need to be saved 
        from ~forgetting~ what beers you have enjoyed-- and what beers you 
        didn't. So, pull up a seat, grab a cold one and see where 
        Brew Tour takes you. 
    </div><br><br>

    <div class="bottom-nav">
        <a class="bottom-nav-link <%= active_css(login_path)%>" href="/login">Login</a>
        <a class="bottom-nav-link <%= active_css(signup_path)%>" href="/signup">Signup</a>
    </div>



</body>