<h1>Welcome <%= @user.name.capitalize %>!</h1>
 
<div class="content">
    <p>This is your home page. Come here to find some stats about your Brew Tour account.</p>
    <p>Use our handy nav bar on top of the page to dive into the world of beers.</p>
 </div>

<br>
 <div class="content">
    <p>Number of Breweries: <%= @user.breweries.count %></p>
    <p>Number of Beers: <%= @user.beers.count %></p>
    <p>Number of Reviews: <%= @user.reviews.count %></p>
 </div>





