<h1>Breweries</h1>

<div>
    <% @breweries.each do |b| %>
        <p><%= link_to b.name, brewery_path(b) %> </p>
        <p><%= b.location %></p>
        <p><%= b.year_established %></p>
    <% end %>
</div>