<div class="content">
    <%= render partial: "brewery" %><br>
    <%= render partial: "brewery_beers"%>
</div>


<%= link_to "Edit", edit_brewery_path(@brewery) %> <br><br>
<%= button_to "Delete", brewery_path(@brewery), method: "delete", :confirm => "Are you sure?" %>