<h1>Beers</h1>

<di class="content">
    <% @beers.each do |beer| %>
        <p><%= link_to beer.name, beer_path(beer.id) %> </p>
        <p><%= beer.abv %> Alcohol by Volume</p>
        <p><%= beer.description %></p>
        
    <% end %>
</div>
