<h1>Reviews</h1>

<div class="wrapper">
 <ul>
 
    <% @reviews.each do |review| %>
        <li><%= link_to review.title, review_path(review) %></li><br>
    <% end %>

</ul>
</div>

<%= render partial: "beers/go_back" %>